*{
    font-family: Favoritfreshly,sans-serif;
}


/* <!-- Section 1 Starts here  --> */
#section1{
    /* border: 1px solid black; */
    width: 60%;
    margin: auto;
    margin-top: 120px;
}

#logo{
    /* border: 1px solid red; */
    width: 15%;
    height: 85%;
    margin: auto;
}

#logo>img{
    height: 100%;
    width: 100%;
}

#section1>h1{
    text-align: center;
    font-size: 37px;
    margin-top: -1px;
    color: #333;
}

#section1>div:last-child{
    /* border: 1px solid red; */
    width: 85%;
    margin: auto;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-top: -15px;
}
/* <!-- Section 1 Ends here  --> */

/* <!-- Section 2 Starts here  --> */
#section2{
    /* border: 1px solid red; */
    margin-top: 40px;
}

#section2_data{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.box{
    /* border: 1px solid blue; */
    width: 95%;
    margin: auto;
    height: 250px;
}

.box:hover{
    cursor: pointer;
}

.image{
    width: 100%;
}

.dsc{
    color: #357471;
    text-align: center;
    font-size: 27px;
}

#section2>div:last-child{
    /* border: 1px solid red; */
    width: 20%;
    margin: auto;
    overflow: hidden;
}

#section2>div:last-child>p{
    font-size: 14px;
    color: #357471;
    text-align: center;
}

#section2>div:last-child>button{
    border: 0px;
    margin-left: 25%;
    padding: 13px 16px 12px;
    margin-top: 10px;
    background-color: #3167ff;
    color: white;
    font-size: 18px;
    word-spacing: .5px;
    transition: 0.3s all ease-in-out;
}

#section2>div:last-child>button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* <!-- Section 2 Ends here  --> */

/*  <!-- Section 3 Starts here  --> */
#section3{
    /* border: 1px solid red; */
    width: 55%;
    margin: auto;
    margin-top: 10%;
}

#section3>h1{
    text-align: center;
    font-size: 45px;
    margin-top: -1px;
    color: #333;
}

#section3>p{
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    margin-top: -5px;
}
/*  <!-- Section 3 Ends here  --> */

/*  <!-- Section 4 Starts here  --> */
#section4{
    /* border: 1px solid red; */
    margin-top: 5%;
    margin: auto;
}

#section4>div:first-child{
    display: flex;
    align-items: center;
    gap: 3px;
    width: 20%;
    /* border: 1px solid black; */
    margin: auto;
}

#menu_category{
    height: 20px;
}

#section4_data{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 95%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 40px;
}

.sec4_box{
    /* border: 1px solid red; */
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.sec4_img{
    height: 210px;
    width: 100%;
    border-radius: 20px;
    transition: 0.3s all ease-in-out;
}

.sec4_img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.sec4_dsc{
    margin-top: -15px;
    font-size: 14px;
    color: grey;
}
/*  <!-- Section 4 Ends  here  --> */

/* <!-- Section 5 Starts here  -->  */
#section5{
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 5%;
    color: #333;
}

#section5>h1{
    font-size: 45px;
    /* border: 1px solid red; */
    width: 45%;
    margin: auto;
    color: #333;
}

#section5>p{
    font-size: 14px;
    line-height: 25px;
    /* border: 1px solid black; */
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

#section5_data{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    margin-top: 5%;
}

.sec5box{
    /* border: 1px solid red; */
    height: 350px;
    width: 80%;
    margin: auto;
}

.imgdiv{
    /* border: 1px solid greenyellow; */
    height: 180px;
    width: 90%;
    margin: auto;
}
.dscdiv{
    /* border: 1px solid red; */
    height: 50px;
    font-size: 14px;
    color: #333;
    width: 80%;
    margin: auto;
    line-height: 20px;
    font-weight: normal;
}

.sec5_image{
    height: 100%;
    width: 100%;
}

.lm{
    color: rgb(57, 57, 235);
    font-size: 12px;
    text-decoration: underline;
    font-weight: 550;
    cursor: pointer;
}
/* <!-- Section 5 Ends here  -->  */

/* <!-- Section 6 Starts here  -->  */
#section6{
    /* border: 1px solid black; */
    margin-top: 5%;
}
#section6>h1{
    /* border: 1px solid red; */
    font-size: 45px;
    color: #333;
    width: 35%;
    margin: auto;
    margin-bottom: 50px;
}
#section6_data{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    background-color: white;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
  }

  #lable{
    margin-left: 99%;
  }

  #section7{
    text-align: center;
    margin-top: 5%;
  }

  #section7>h2{
    font-size: 32px;
    color: #333;
    font-weight: 500;
  }
  #section7>a{
    color: #3167ff;
    text-decoration: underline;
  }

    /* <!-- Section 8 Starts here Footer  -->  */

    #section8{
      border-top: 1px solid grey;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
    #section8_data{
      /* border: 1px solid black; */
      width: 80%;
      margin: auto;
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: auto;
    }
  
    #footer_box{
      /* border: 1px solid red; */
      width: 60%;
      height: 250px;
      color: grey;
      font-weight: 500;
      text-align: left;
      margin: auto;
    }
  
    #footer_box>p:first-child{
      font-size: 16px;
      color : black
    }
  
    #footer_box>p{
      font-size: 14px;
    }

    #footer_box>p:hover{
      cursor: pointer;
    }
  
    #footerlogo{
      width: 120px;
      height: 70px;
    }
  
    .socail_handles{
      color: gray;
      width: 75%;
      /* border: 1px solid red; */
    }
  
    .socail_handles>i{
      margin-left: 10px;
    }
  
    .AppleStore{
      width: 100px;
      height: 80px;
    }
  
    .PlayStore{
      width: 100px;
      height: 35px;
    }

    .socail_handles>i,.AppleStore, .PlayStore, #footerlogo{
      cursor: pointer;
    }
   /* <!-- Section 8 Ends here Footer  -->  */

   /* Media Quires */

   @media (max-width: 878px){

    #section1{
      width: 85%;
    }

    #logo{
      width: 25%;
      height: 90%;
    }

    #section1>h1{
      font-size: 37px;
    }

    #section1>div:last-child{
      font-size: 13px;
      width: 95%;
    }

    #section2_data{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      row-gap: 10px;
    }

    .box{
      height: 270px;
      margin: auto;
    }

    .image{
      /* border: 1px solid red; */
      height: 150px;
      width: 80%;
      margin-left: 10%;
    }

    .sec4_img{
      /* border: 1px solid red; */
      height: 120px;
    }

    #section2>div:last-child{
      width: 90%;
      margin-top: 25%;
    }

    #section2>div:last-child>button{
      width: 100%;
      margin-left: 0px;
    }

    #section3{
      width: 95%;
    }

    #section3>h1{
      font-size: 47px;
    }

    #section4>div:first-child{
      width: 80%;
      margin-top: 10px;
      justify-content: center;
    }

    #section4_data{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }

    #section5>h1{
      width: 95%;
      font-size: 42px;
      text-align: center;
    }

    #section5>p{
      width: 80%;
    }

    #section5_data{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      row-gap: 60px;
    }

    .imgdiv{
      width: 40%;
    }

    .dscdiv{
      font-size: 16px;
    }

    #section6>h1{
      width: 90%;
      font-size: 35px;
      /* border: 1px solid red; */
      text-align: center;
    }

    #section8_data{
      width: 99%;
      grid-template-columns: repeat(2,1fr);
      gap: 40px;
      /* border: 1px solid red; */
    }

    .socail_handles{
      width: 99%;
      /* border: 1px solid red; */
    }

    .AppleStore{
      width: 50%;
      margin-left: 5px;
    }

    .PlayStore{
      width: 50%;
      height: 19px;
      margin-left: 5px;
    }
  }
  